--allow-external PIL
--allow-unverified PIL
coverage
traits-enaml
git+http://github.com/enthought/mayavi.git#egg=mayavi
git+http://github.com/enthought/traitsui.git#egg=traitsui
git+http://github.com/enthought/pyface.git#egg=pyface
git+http://github.com/enthought/enable.git@71c16bad1f#egg=enable
git+http://github.com/enthought/traits.git#egg=traits
