--allow-external PIL
--allow-unverified PIL
coverage
ply
-e git+http://github.com/nucleic/kiwi.git#egg=kiwisolver
https://github.com/nucleic/atom/archive/0.3.8.tar.gz#egg=atom
https://github.com/nucleic/enaml/archive/0.9.8.tar.gz#egg=enaml
-e git+http://github.com/enthought/traits.git#egg=traits
-e git+http://github.com/enthought/traitsui.git#egg=traitsui
-e git+http://github.com/enthought/pyface.git#egg=pyface
-e git+http://github.com/enthought/enable.git@b324dfe#egg=enable
-e git+http://github.com/enthought/mayavi.git#egg=mayavi
-e git+http://github.com/enthought/traits-enaml.git#egg=traits-enaml
